<div class="container">
    <div class="logo">
      <img src="assets/Swirlly.png" alt="Swirlly.png" width="100"/>
      </div>
      <div class="heading"><b>Swirlly</b></div>       

    <nav>
      <ul>
      <li><a href="home">Home</a></li>
      <li>About Us</li>
      <li>Services</li>
      <li>Project</li>
      <li><a href="team">Team</a></li>
      <li>Testimonials</li>
      <li class="Active">Get In Touch</li>
      </ul>
      </nav>
    </div>


    <!-- main body -->

    <!-- <div class="container" >
      <img src="assets/IMG-20200916-WA0016.jpg" alt="bg.jpg" style="width:100%;">
      <div class="text-block">
        <h2 style="text-align: right;">Swirlly</h2>
        <small style="font-size: 23px; padding-top: 0px; padding-left: 110px;"><i>Grab swirlly for better digital future</i></small><br>
        Swirlly is a place where you<br>can find IT and Designing <br>solution which perfectly suits<br> your requirments
      </div>
 -->

<!-- another img on img -->

<!-- <div class="bottom-right">
  <img src="assets/IMG-20200916-WA0010-removebg-preview (2).png" alt="bg.jpg" style="width:90%;">
</div>



    </div> -->
