* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column1 {
    float: left;
    width: 35%;
    padding: 10px;
    height: 600px; /* Should be removed. Only for demonstration */
    font-family:poppins;

  }
  
  .column2 {
    float: left;
    width: 65%;
    padding: 10px;
    height: 600px; /* Should be removed. Only for demonstration */
    font-family:poppins;

  }
  
  

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  /* img styling */


  .memmbers{
    padding-left: 50px;
    padding-top: 50px;
}

  .img{
      width: 50px;
  }