<div class="container">
    <!-- row 1 -->
    <div class="row">
    <div class="jumbotron">
        <div class="column1">
            <div class="memmbers">
                <div class="img"> 
                    <img src="assets/8.jpg" style="border-radius: 10px;">
                </div>
                    <h1>Nidhey Indurkar</h1>
                    <h3>Chief Executive  Officer (CEO)</h3> 
            </div>
        </div>
    </div>
    
    <div class="column2">
      <p style="font-size: 30px;">Nidhey Indurkar had founded the swirlly along with his team. As a great programmer, he has wise experience of two and more years. Since he started the programming along with his engineering studies, he still had achieved a goal where he can build an application and website with his outstanding programming skills. 
        He has polished his programming skill with the programming language JavaScript, php, etc.  He had worked for various different projects like dailytroop, oily handshake, etc
        He strongly believes in the statement:" We are what our thoughts have made us; so take care about what you think; Words are secondary. Thoughts live, they travel far. "
        </p>
    </div>
  </div>
  <!-- end row1 -->
  

<!-- row2 -->

<div class="row">
    <div class="jumbotron">
        <div class="column1">
            <div class="memmbers">
                <div class="img"> 
                    <img src="assets/8.jpg" style="border-radius: 10px;">
                </div>
                    <h1>Ritwik Chavhan</h1>
                    <h3>Chief technology Officer (CTO)</h3> 
            </div>
        </div>
    </div>
    
    <div class="column2">
      <p style="font-size: 30px;">Ritwik Chavhan is the partner and co-founder of Swirlly. He has great experience of one and more years. He himself is a great coder who had learned these skills by 
        Pursuing his engineering studies. Now he had reached a point where he is very much expertise in creating an application and website. 
        He had learned and Mastered the skills of coding in PHP. He had contributed his programming skills on projects like dailytroop, oily handshake, etc. 
        He works on the statement: " Say yes to grow. "
        </p>
    </div>
  </div>

  <!-- End row2 -->
 

  <!-- row 3-->
  <div class="row">
    <div class="jumbotron">
        <div class="column1">
            <div class="memmbers">
                <div class="img"> 
                    <img src="assets/8.jpg" style="border-radius: 10px;">
                </div>
                    <h1>Kadir Sheikh</h1>
                    <h3>Chief operating officer (COO)</h3> 
            </div>
        </div>
    </div>
    
    <div class="column2">
      <p style="font-size: 30px;">Kadir Sheikh is the partner and co-founder of Swirlly. He has been gaining experience in the programming field for six months but still is very much capable of building good software. He has a passion for learning programming skills so he started his work as a coder while he is pursuing his engineering degree.He had learned and can work on various programming languages like jQuery, Php, java, angular 8 htm,l CSS, bootstrap, SQL, etc.  His work in the project dailytroop, oily handshake is still showing how skilful is he. 
        The passionated statement given by him is: "Ever since I remember I have been extremely fascinating about Internet and it's creative world especially websites design. Since childhood, my usual interaction with the internet is one of the main factors that I have decided to partake in this field. I want to learn everything about my field and see myself towards achieving many goals during my career for becoming a great Software Engineer."        
        </p>
    </div>
  </div>
  <!-- End Row3 -->

<!-- row4 -->
<div class="row">
    <div class="jumbotron">
        <div class="column1">
            <div class="memmbers">
                <div class="img"> 
                    <img src="assets/8.jpg" style="border-radius: 10px;">
                </div>
                    <h1>Mayuri Wandhe</h1>
                    <h3>Project Manager</h3> 
            </div>
        </div>
    </div>
    
    <div class="column2">
      <p style="font-size: 30px;">Mayuri Wandhe has been joined Swirlly and provided some good ideas to make a Swirlly for the betterment of people. She is still learning and gaining her experience while working in Swirlly. As a software engineering student, she is interested in the field of coding and practising her learning skills on creating application and website. 
        She had mastered her programming language in Angular. And had started her first project with Swirlly. 
        She believes that: " Take risks in Life; If you win ...u can lead! And if u lose... u can guide! "
        
        </p>
    </div>
  </div>
<!-- end row4 -->



<!-- row 5-->
<div class="row">
    <div class="jumbotron">
        <div class="column1">
            <div class="memmbers">
                <div class="img"> 
                    <img src="assets/8.jpg" style="border-radius: 10px;">
                </div>
                    <h1>Shubhangi Hasoriya</h1>
                    <h3>Product Designer</h3> 
            </div>
        </div>
    </div>
    
    <div class="column2">
      <p style="font-size: 30px;">Shubhangi Hasoriya has become the part of the Swirlly and has been dedicated herself to Swirlly for making a better organization. She is still learning, practising and gaining her experience with Swirlly. Although she is pursuing software engineering she is still creative and has lots of cool ideas for the art of the website. 
        She had learned PHP language as a programmer and learned about UI/UX design as for her interest. She had worked on the project for creating a website for a student client and learning more about this society in Swirlly. 
        She works on the statement: " Your smile is your logo, your personality is your Business card, how you leave others feeling after having an experience with you becomes your Trademark."
        </p>
    </div>
  </div>
<!-- end row5 -->

</div>